.tic-tac
   width: 100vw
   height: 100vh
   // display: grid
   // grid-template-columns: repeat(30,30px)
   &__row
      display: flex

.tic-tac__item
   width: 30px
   height: 30px
   border: 1px solid #000
   cursor: pointer
   font-size: 40px
   line-height: 22px
   display: flex
   justify-content: center
